.navbar {
padding: 25px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  font-family: var(--font-secondary);
}

.logo-img {
  height: 28px;   /* adjust to match your design */
  width: auto;
  cursor: pointer;
  margin-top: 14px;
}


.nav-center {
  display: flex;
  gap: 26px;
}

.nav-center a {
  text-decoration: none;
  font-size: 15px;
  color: #000;
  font-weight: 500;
}

.nav-center a:hover {
  color: #1f3aa8;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 14px;
}

.theme-btn {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid #e5e7eb;
  background: transparent;
  cursor: pointer;
}

.join-btn {
  background: #23bb4e;
  color: white;
  border: none;
  padding: 10px 35px;
  border-radius: 999px;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
}

.join-btn span {
  font-size: 14px;
}
